


.btn-cyan {
  @apply w-full h-auto px-4 py-2 rounded-md shadow-md font-semibold transition-all transform active:scale-95;
  background: linear-gradient(180deg, #9333ea, #6d28d9);
  color: white !important;
  white-space: normal; /* Allow text wrapping */
  text-align: center; /* Ensure text is centered */
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-cyan:hover {
  background: linear-gradient(180deg, #6d28d9, #9333ea);
  /* Reverse gradient on hover */
  @apply shadow-lg;
}

.btn-cyan:focus {
  @apply outline-none ring-2 ring-cyan-600 ring-offset-2;
}
